
  <div class="bg-gray-800 pb-32">
    <header class="py-10">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <span class="inline-flex rounded-md shadow-sm">
          <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 text-base leading-6 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:text-gray-800 active:bg-gray-50 transition ease-in-out duration-150">
            <i class=" mr-2 fa fa-chevron-left" aria-hidden="true"></i>
             <%= link_to "back", root_path  %>
          </button>
        </span>
      </div>
    </header>
  </div>

<!-- app/views/offers/show.html.erb -->
<% content_for :meta_title, @video.title %>
<% content_for :meta_description, "Go watch on youtube" %>
<% content_for :meta_image, @video.thumbnails %>

  <main class="-mt-32">
    <div class="w-9/12 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <div class="video-container bg-white rounded-lg shadow px-5 py-6 sm:px-6">
        <iframe src="<%= "https://www.youtube.com/embed/" %><%= @video.youtube_id %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

      <!-- /Word suggestions -->
    <div class="w-9/12 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <div class="bg-white">
        <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
          <p class="text-center text-base leading-6 font-semibold uppercase text-gray-600 tracking-wider">
          Add words to your flash cards          </p>

          <% ["This", "is", "a", "test" ].each do |word|%>

          <span class="inline-flex items-center px-4 py-1 rounded-full text-xs font-medium leading-4 bg-indigo-100 text-indigo-800">
            <%= word %>
            <button type="button" class="flex-shrink-0 ml-1.5 inline-flex text-indigo-500 focus:outline-none focus:text-indigo-700" aria-label="Remove small badge">
              <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
                <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
              </svg>
            </button>
          </span>

          <% end %>
        </div>
      </div>
    </div>
    <!-- /Affiliate links -->

    <div class="w-9/12 mx-auto pb-12 px-4 sm:px-6 lg:px-8">
      <div class="bg-white">
        <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
          <p class="text-center text-base leading-6 font-semibold uppercase text-gray-600 tracking-wider">
            To take you language learning even further
          </p>
          <div class="mt-6 grid grid-cols-2 gap-0.5 md:grid-cols-3 lg:mt-8">
            <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
              <a href="https://my.babbel.com/en/prices" target="_blank">
                <img class="h-18 filter" src="https://www.babbel.com/static/index_page/en-US/images/babbel-logo.7aa2e9b55ad748e39c0b5ad7c32c1088.png" alt="Workcation">
              </a>
            </div>
            <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
              <img class="max-h-10 my-auto filter" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5c/Duolingo_logo_%282019%29.svg/1280px-Duolingo_logo_%282019%29.svg.png" alt="Mirage">
            </div>
            <div class="col-span-1 flex justify-center py-8 px-8 bg-gray-50">
              <img class="h-18 my-auto filter" src="https://www.assimil.com/themes/assimil/img/logos/logo-assimil-footer-fr.png" alt="Tuple">
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>
