<div class="container mx-auto w-9/12 mb-10 pt-8">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 table-fixed">
            <thead>
              <tr>
                <th class="w-9/12 px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Evalueate Language Level
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td>
                  <div class="flex justify-center my-3">
                    <%= render 'shared/searchbar' %>
                  </div>
                  <div class="flex justify-center">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/Unzc731iCUY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div style="width: 560px" class=" mx-auto">
                    <div class="text-sm leading-5 text-gray-900">How To Speak by Patrick Winston</div>
                    <div class="text-sm leading-5 text-gray-500">MIT OpenCourseWare - 2.161.346 views</div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="flex justify-center">
                    <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-1 hover:text-white">
                      <p>A1</p>
                    </div>
                    <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-2 hover:text-white">
                      <p>A2</p>
                    </div>
                    <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 bg-level-3 text-white">
                      <p>B1</p>
                    </div>
                    <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-4 hover:text-white">
                      <p>B2</p>
                    </div>
                    <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-5 hover:text-white">
                      <p>C1</p>
                    </div>
                    <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-6 hover:text-white">
                      <p>C2</p>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
