<div class="flex justify-center mt-5">
  <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-1 hover:text-white">
    <p>A1</p>
  </div>
  <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-gray-800 hover:text-white">
    <p>A2</p>
  </div>
  <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-gray-800 hover:text-white">
    <p>B1</p>
  </div>
  <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-gray-800 hover:text-white">
    <p>B2</p>
  </div>
  <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-gray-800 hover:text-white">
    <p>C1</p>
  </div>
  <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-gray-800 hover:text-white">
    <p>C2</p>
  </div>
</div>
