<div class="container mx-auto w-9/12">
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-200 table-fixed">
            <thead>
              <tr>
                <th class="w-9/12 px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Title
                </th>
                <th class="w-2/12 px-6 py-3 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                  Language Level
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">How To Speak by Patrick Winston</div>
                  <div class="text-sm leading-5 text-gray-500">MIT OpenCourseWare - 2.161.346 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-6  hover:text-white">
                      <p class="text-white">C2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">Obama's Best Comebacks and Rebuttal Moments - Part 2</div>
                  <div class="text-sm leading-5 text-gray-500">Epic Moments - 9.231.123 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-4  hover:text-white">
                      <p class="text-white">B2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">2 Hours of English Conversation Practice - Improve Speaking Skills</div>
                  <div class="text-sm leading-5 text-gray-500">Learn English with EnglishClass101.com - 34.938 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-2  hover:text-white">
                      <p class="text-white">A2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">How To Speak by Patrick Winston</div>
                  <div class="text-sm leading-5 text-gray-500">MIT OpenCourseWare - 2.161.346 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-6  hover:text-white">
                      <p class="text-white">C2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">Obama's Best Comebacks and Rebuttal Moments - Part 2</div>
                  <div class="text-sm leading-5 text-gray-500">Epic Moments - 9.231.123 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-4  hover:text-white">
                      <p class="text-white">B2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">2 Hours of English Conversation Practice - Improve Speaking Skills</div>
                  <div class="text-sm leading-5 text-gray-500">Learn English with EnglishClass101.com - 34.938 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-2  hover:text-white">
                      <p class="text-white">A2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">How To Speak by Patrick Winston</div>
                  <div class="text-sm leading-5 text-gray-500">MIT OpenCourseWare - 2.161.346 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-6  hover:text-white">
                      <p class="text-white">C2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">Obama's Best Comebacks and Rebuttal Moments - Part 2</div>
                  <div class="text-sm leading-5 text-gray-500">Epic Moments - 9.231.123 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-4  hover:text-white">
                      <p class="text-white">B2</p>
                    </div>
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-no-wrap">
                  <div class="text-sm leading-5 text-gray-900">2 Hours of English Conversation Practice - Improve Speaking Skills</div>
                  <div class="text-sm leading-5 text-gray-500">Learn English with EnglishClass101.com - 34.938 views</div>
                </td>
                <td class="ml-4 px-6 py-4 whitespace-no-wrap">
                    <div class="rounded border-gray-700 flex justify-center w-12 shadow-md px-3 py-2 bg-level-2  hover:text-white">
                      <p class="text-white">A2</p>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
