<div class="flex items-start">
<input class="bg-white focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg px-4 py-2 m-2 block  content-center ml-64 w-6/12 appearance-none leading-normal" type="url" placeholder="https://www.youtube.com/watch?v=EtvPrbcjdZs">

<button class="bg-red-600 text-white font-bold px-4 py-2 m-2 w-40 rounded">
  YouTube
</button>
</div>