<div class="flex w-10/12 ">
  <input class="bg-white flex-grow focus:outline-none focus:shadow-outline border border-gray-300 rounded-lg px-4 py-2 my-2 block  content-center appearance-none leading-normal" type="url" placeholder="https://www.youtube.com/watch?v=EtvPrbcjdZs">
  <button class="bg-red-600 text-white font-bold px-4 py-2 my-2 w-40 rounded">
    YouTube
  </button>
</div>

<table class="min-w-full divide-y divide-gray-200 table-fixed">

  <tbody class="bg-white divide-y divide-gray-200">
    <tr>
      <td class="px-6 py-4 whitespace-no-wrap">
        <div class="flex justify-center">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Unzc731iCUY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div style="width: 560px" class="mx-auto mt-3">
          <div class="text-sm leading-5 text-gray-900">How To Speak by Patrick Winston</div>
          <div class="text-sm leading-5 text-gray-500">MIT OpenCourseWare - 2.161.346 views</div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="px-6 py-4 whitespace-no-wrap">
        <div class="flex justify-center">
          <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-1 hover:text-white">
            <p>A1</p>
          </div>
          <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-2 hover:text-white">
            <p>A2</p>
          </div>
          <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 bg-level-3 text-white">
            <p>B1</p>
          </div>
          <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-4 hover:text-white">
            <p>B2</p>
          </div>
          <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-5 hover:text-white">
            <p>C1</p>
          </div>
          <div class="rounded border-gray-700 shadow-md mx-3 px-3 py-2 hover:bg-level-6 hover:text-white">
            <p>C2</p>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td class="px-6 whitespace-no-wrap"></td>
    </tr>
  </tbody>
</table>
