<td align="center" valign="top" style="border-collapse:collapse">
      <table id="m_-6250301730754978611ColumnTable" border="0" cellspacing="0" cellpadding="0" width="580" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2">
        <tbody><tr>
          <td style="border-collapse:collapse">
            <table id="m_-6250301730754978611PreHeaderTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2">
              <tbody><tr>
                <td height="30" style="border-collapse:collapse"></td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611HeaderTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#42683d;width:100%!important">
              <tbody><tr>
                <td colspan="3" height="20" style="border-collapse:collapse"></td>
              </tr>
              <tr>
                <td width="20" style="border-collapse:collapse"></td>
                <td valign="middle" align="left" style="border-collapse:collapse">
                  <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.de%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dicon" style="color:#1086e8;text-decoration:none;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:29px;font-weight:normal;color:#383838;font-size:24px;line-height:29px;font-weight:normal;color:#ffffff" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.de%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dicon&amp;source=gmail&amp;ust=1598767839063000&amp;usg=AFQjCNGyuqCyk34WwYnPmZ8SrhYaWxOsAg">
                    <img id="m_-6250301730754978611Logo" alt="komoot" width="150" height="52" border="0" src="https://ci6.googleusercontent.com/proxy/g2J7cqESaIlNFvCx8vhkjqW7B8_3_7D-tUp3CBn47joD10Q6doADv280qCaWxtMh416Jimnu9c35MbhYW0PMIMDjg9ncTjhwZdpAibRhXvVtP4mUDXvdoSC31lBw=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/logo-type.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                </td>
                <td width="20" style="border-collapse:collapse"></td>
              </tr>
              <tr>
                <td colspan="3" height="20" valign="bottom" style="border-collapse:collapse">&nbsp;</td>
              </tr>
              <tr>
                <td colspan="3" height="15" style="border-collapse:collapse"></td>
              </tr>
              <tr>
                <td width="20" style="border-collapse:collapse"></td>
                <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:29px;font-weight:normal;font-size:24px;line-height:29px;font-weight:normal;color:#ffffff">
                  Hey, Alex
                </td>
                <td width="20" style="border-collapse:collapse"></td>
              </tr>
              <tr>
                <td colspan="3" height="10" style="border-collapse:collapse"></td>
              </tr>
              <tr>
                <td width="20" style="border-collapse:collapse"></td>
                <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;text-align:left;font-size:16px;line-height:21px;font-weight:normal;color:#ffffff">Based on your favorite activities and places, we have picked three Highlights for you. Two clicks and you have your Tour for the weekend. Enjoy!
                </td>
                <td width="20" style="border-collapse:collapse"></td>
              </tr>
              <tr>
                <td colspan="3" height="20" style="border-collapse:collapse"></td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611BorderTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#ffffff;border-style:none solid solid;border-color:#ffffff #c9c9c9 #c9c9c9;border-width:0px 1px 1px;width:100%!important">
              <tbody><tr>
                <td style="border-collapse:collapse">


                  <table id="m_-6250301730754978611HighlightTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff">
                    <tbody><tr>
                      <td colspan="3" height="30" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="center" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightTitleTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>
                            <td rowspan="2" width="36" align="left" valign="top" style="border-collapse:collapse">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-sport" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-sport&amp;source=gmail&amp;ust=1598767839063000&amp;usg=AFQjCNGaaQWphDrYvoqgY9sqeyt0ILXYRQ">
                                <img alt="Hiking Highlight" width="36" height="36" border="0" src="https://ci3.googleusercontent.com/proxy/h4eAOLIQzP0oUfwN8rjEfAc0DkDgL9VItGcf89aRAvDg_vTULHcw3WO3rVbPItwZcorE3Jm3s6qSFV2KmP3aV4qNbVd3mcqT3OVGHOJiZdwXpb-7ffCzYo02dOV5PQ=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/sport-hike.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td rowspan="2" width="15" style="border-collapse:collapse;background-color:#ffffff"></td>
                            <td align="left" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:29px;font-weight:bold;color:#383838;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-title" style="color:#1086e8;text-decoration:none;color:#383838" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-title&amp;source=gmail&amp;ust=1598767839063000&amp;usg=AFQjCNFem8amntWom4LBdL_9Q8cYSMS1YA">
                                Lac de l'Echauda
                                                        </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-subtitle" style="color:#1086e8;text-decoration:none;color:#70706b" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-subtitle&amp;source=gmail&amp;ust=1598767839064000&amp;usg=AFQjCNEuOKaFljq8w7S2AH4SwZBU3o6DYw">
                                Hiking Highlight
                                                        </a>
                            </td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="10" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="center" valign="middle" style="border-collapse:collapse">


                        <table id="m_-6250301730754978611HighlightImageTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>
                            <td rowspan="2" width="67%" valign="middle" align="right" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-img&amp;source=gmail&amp;ust=1598767839064000&amp;usg=AFQjCNFQ9_1P2svPqw-ZL5WbZflxrIOBhQ">
                                <img style="outline:none;text-decoration:none;border:none;display:block" alt="Lac de l'Echauda" width="359" height="239" border="0" src="https://ci3.googleusercontent.com/proxy/F3SsAh1hNSS8YqZQsK15jnKtPUlU-haVd19LtB2Mx-5bhmRbI7I8s-i1XCpbne8Pz3A4_z7IDnbaYTa-6x_E-6sncuKv3-LemVXDaTX7p1G7nEcbStubZ_4otu6JEtu2rJFkRWi0ju0lxcJdlFnm0flROC-thkuwaQbLWLEHVKyjpe6K2ET14_-IZEWjGlg4-g0F4oCLnII3rWrR=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k3/1r/1rzoxf0s576rp1swujn56gcgtb34dzna8x-uhi8043355/0?width=359&amp;height=239&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                            <td valign="top" width="33%" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-img&amp;source=gmail&amp;ust=1598767839064000&amp;usg=AFQjCNFQ9_1P2svPqw-ZL5WbZflxrIOBhQ">
                                <img style="outline:none;text-decoration:none;border:none;display:block;margin-left:1px;margin-bottom:1px" alt="Lac de l'Echauda" width="179" height="119" border="0" src="https://ci5.googleusercontent.com/proxy/_lD3D92rgSIW3WwOTe06TkpF3f9R2i9jaKh6_56QCuWfDW8rTZRv-O55qFWjHLMyW1i1D2VWj_lw4yXTfxlcs-jH-ZQWgasID7ecy_zSjzUO_t81nHLb-DWUnVZjMdVflTIlKHLeJ_3890j-NLRyNwc6lcAuvIWQyMDjgSssmwJypvHsY-Eo-WshhQ9AIQD3I9xW5KRuBGycOEE=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k3/9t/9t1fec9dkwz91pbn2j6u5du8h34dzo0vg-uhi8043373/0?width=179&amp;height=119&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                          </tr>
                          <tr>
                            <td valign="bottom" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-img&amp;source=gmail&amp;ust=1598767839064000&amp;usg=AFQjCNFQ9_1P2svPqw-ZL5WbZflxrIOBhQ">
                                <img style="outline:none;text-decoration:none;border:none;display:block;margin-left:1px" alt="Lac de l'Echauda" width="179" height="119" border="0" src="https://ci6.googleusercontent.com/proxy/f8md-MsNZD3pqciKujO8X8OGI8E2dW6IMc0uHp4Mpog1P07oHfdowq5w_FbK7yZIKGgb0skqw9jbMG-T0aLiVCaLJSWGS9c6icqdHSK2aqvttvQ6aLzaULdW5n3EbiRMbkWJ8FOGM7U6a6_g_nUNATCR8E7_9Fv3sif5MUahMBFr8kral0UeaYnSKadpkFINIIuvE8XI3giNwBA=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k3/1n/1nupl35mo1veyflm64fdou7w634dzo0vg-uhi8043374/0?width=179&amp;height=119&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                          </tr>
                        </tbody></table>


                                        </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="left" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightInfoTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>



                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F928171304779%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F928171304779%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-users&amp;source=gmail&amp;ust=1598767839064000&amp;usg=AFQjCNHw5v68lWo4DYVZXEyVQQo050HDfw">
                                  <img alt="Koen Outdoor" width="24" height="24" border="0" src="https://ci3.googleusercontent.com/proxy/Ss-kYVI6kP6eeUq9tjx0GPnM2f-ZK8HEmFRWCvwyiNKAZMUNGkNut9gfyOjenxeXkMXBWhMau5T-aMWqYESsHopsDDaauZZueh8mxK41-uaZPVhhoIAOEL5LQ0ra9koC1EndPoMg5xZdgCxq2KnsdbbLg8N9Yr4ObkLHBpjpEF60Phgicur8vtYOuH9YaeJD58LXDbT2p8PrwBnBq3i8_zElSQ=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/1l/1ljadcovc6t7d9jhb8lgl0cht32hlgvrg-u928171304779-full/16cf887da1f?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>




                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F1430290354254%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F1430290354254%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-users&amp;source=gmail&amp;ust=1598767839064000&amp;usg=AFQjCNF8RdO86tz8W4EmfYqAzMewuPty4w">
                                  <img alt="Simon" width="24" height="24" border="0" src="https://ci5.googleusercontent.com/proxy/a_OP6Wn6lmtC7XPaav0_VFXDl1Sq-Niw1UDhoRRIMeVPza617kR8UeRVJvcwOe062KtRQ8cgc-DarlkswFr-bhUW3lune-fsG9ilK0dWNLpwzI2UfDZtRjqHtbA-T938ywYBCZ3dwMMk5kVQ6TxwY5gYf7nNcLxg1FhuqS_jPWfBvZYNYb4ALVzqosTsMdqTel0QYAcjuX3ACVXok39ywRFMnSE=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/g5/g5sjjtgj09lx1kcpcqsi6a5vy3g17g3vl-u1430290354254-full/17373761c5e?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>




                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F677028432311%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F677028432311%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-users&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNEJHe0Avuppw9mUDN7Vo0Z0gwWnDg">
                                  <img alt="Laurent Sauvage" width="24" height="24" border="0" src="https://ci4.googleusercontent.com/proxy/xTeInQlS1wwOPBV-QDb5SniUWONpI7GXR4uAJlK4PKEOY0sH8TeIQFhKsJ2o5RGiQWY8C_kr1hjp8Y9-agQQAehP1EN0bVdfnqgQa-pXO_1pB_Cjwsyym_tTgdULYTjpVkH4YaFJcgbORddtIlJf0YBpoz2VhpEWzoL1C3O16crLEtKqD1QwbvGHy2i6S3Y0MaAuZCAIXLj0uSaAToqVOP1b9us=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/19/19kln8hknmpoe1v9ecop602q9p2xurepjz-u677028432311-full/173f34db808?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>





                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-4-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-4-users&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNEjNIxGOtcZSELNN48fDKkDYQQPPg">
                                <img alt="more" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/jVkUl7h_irOK5OR2VzBK9ekRnJh9D9_ct4WMzz2_PLh7sIh3X-5fzfvpGnKjax6VJUSL8ZtM9yRlMdnH5bYso1-yW3fAhX9fh7NZ69ATK7xrdI8erEheQ6uYai_PmFQ=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-more.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>



                            <td width="10" style="border-collapse:collapse"></td>
                            <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">

                Recommended by <a style="color:#1086e8;text-decoration:none;color:#7e8075;text-decoration:none;font-weight:normal" href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-users" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-users&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNFNAeqg3eAW6S3ODJ6MxORmHN3wWA">4 People</a>

                            </td>
                            <td style="border-collapse:collapse">&nbsp;</td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="left" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightActionTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f7f7f7;width:100%!important">
                          <tbody><tr>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="24" height="48" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-details-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-details-btn&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNEJEXDtGu-W27_to4KSy8US3q5Cdg">
                                <img alt="View Details" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/PkLMUkmFtn87u6FOpiLD4PjBIRRPJowNvsMinyWFXBykH1puqQOUQ_W9PAsKY-tXbqNHSHe80cQ4kwjO2-aEuafadD1hfaRMlLKl1ynyBTc-dMWNMu3eeVPdC73W_Mo=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-view.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd">
                              </a>
                            </td>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="90" id="m_-6250301730754978611mobilereducewidth" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-details-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-details-btn&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNEJEXDtGu-W27_to4KSy8US3q5Cdg"><span>View&nbsp;</span>Details</a>
                            </td>
                            <td width="30" style="border-collapse:collapse"></td>
                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Faction%3Dbookmark%26utm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-save-btn" valign="middle" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Faction%253Dbookmark%2526utm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-save-btn&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNEUn_Qi9tDDGOk_Cxmqp64BhXFbzg">
                                <img alt="Bookmark" width="24" height="24" border="0" src="https://ci3.googleusercontent.com/proxy/KnZxMB_LOJJhV8Q2XqdSHhvim8EdpxqKmcFpWk_HltdN7-ZweeKUrSt4bbqQIOcHgD7LNlTNDxzzHICKUAhIB8qWppDIzAsi6WhSp4U0BZxi6Hq02YjarnEC28z5vpI=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-save.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="105" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F995943%3Faction%3Dbookmark%26utm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-1-save-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F995943%253Faction%253Dbookmark%2526utm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-1-save-btn&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNEUn_Qi9tDDGOk_Cxmqp64BhXFbzg">Save<span>&nbsp;for&nbsp;Later</span></a>
                            </td>
                            <td style="border-collapse:collapse">&nbsp;</td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="30" style="border-collapse:collapse"></td>
                    </tr>
                  </tbody></table>



                  <table id="m_-6250301730754978611HighlightTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff">
                    <tbody><tr>
                      <td colspan="3" height="30" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="center" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightTitleTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>
                            <td rowspan="2" width="36" align="left" valign="top" style="border-collapse:collapse">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-sport" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-sport&amp;source=gmail&amp;ust=1598767839065000&amp;usg=AFQjCNFGplQ4vVhvTZf5VW5PgA0gK2a-TQ">
                                <img alt="Hiking Highlight" width="36" height="36" border="0" src="https://ci3.googleusercontent.com/proxy/h4eAOLIQzP0oUfwN8rjEfAc0DkDgL9VItGcf89aRAvDg_vTULHcw3WO3rVbPItwZcorE3Jm3s6qSFV2KmP3aV4qNbVd3mcqT3OVGHOJiZdwXpb-7ffCzYo02dOV5PQ=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/sport-hike.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td rowspan="2" width="15" style="border-collapse:collapse;background-color:#ffffff"></td>
                            <td align="left" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:29px;font-weight:bold;color:#383838;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-title" style="color:#1086e8;text-decoration:none;color:#383838" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-title&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNFm7DsepoRTWK_HCtb9AjnkPmI2rQ">
                                Lac de Cristol
                                                        </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-subtitle" style="color:#1086e8;text-decoration:none;color:#70706b" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-subtitle&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNHbcy3m3B69pPU95Db-RqwPuJVHQg">
                                Hiking Highlight
                                                        </a>
                            </td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="10" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="center" valign="middle" style="border-collapse:collapse">


                        <table id="m_-6250301730754978611HighlightImageTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>
                            <td rowspan="2" width="67%" valign="middle" align="right" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-img&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNHw9R0Aqy-u8ocwTceMtkAXLps_5w">
                                <img style="outline:none;text-decoration:none;border:none;display:block" alt="Lac de Cristol" width="359" height="239" border="0" src="https://ci3.googleusercontent.com/proxy/nOlIbJxrNR395lm0YzKx3ET-TtUxK1DPqWigLTDS6MnhkXBc-b93RGrccGyVSvl7L07oV2r1XKWcKTecIa4aIt8kyD-_FkAISyipeHQ_GaEHZpJAltnHzYsU6fOoQ5y8yuLmCUPTssZEMsg9-XS4EpHgvJ_pEJOUkC68xglrMbLB3-sTfcadg5a8dgwdJRSveumrlJVrGSasoZzC=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k3/12/12t5j5yj8llbq1jwvcs22wjz1x34zz6as5-uhi8388076/0?width=359&amp;height=239&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                            <td valign="top" width="33%" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-img&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNHw9R0Aqy-u8ocwTceMtkAXLps_5w">
                                <img style="outline:none;text-decoration:none;border:none;display:block;margin-left:1px;margin-bottom:1px" alt="Lac de Cristol" width="179" height="119" border="0" src="https://ci4.googleusercontent.com/proxy/Wiz7Ol0-zWG3YGmPWVUDg5O0u9L9lNj1QT-ZKMJPYfOtYIBNDJC2dki8Ud8HeIFWQHAusoFZUxojkaZD6a6BHG0PbUu_B6UrSBdIom36f65kZaRKw7oE4ti-U2d1oQ2xDuuvJ1s-fSh1V29bDwA96yygC9a3tc94zdU_0pqTf9_dztbPsW4DBHoS3hyZ8KEQL_b1W0wp_bwYiSDWnQ=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k4/1i/1i1y5fhur80gi12m8urfbkvas538prfewl-uhi10077809/0?width=179&amp;height=119&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                          </tr>
                          <tr>
                            <td valign="bottom" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-img&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNHw9R0Aqy-u8ocwTceMtkAXLps_5w">
                                <img style="outline:none;text-decoration:none;border:none;display:block;margin-left:1px" alt="Lac de Cristol" width="179" height="119" border="0" src="https://ci4.googleusercontent.com/proxy/dH3KrMDpWYmVpVDq5q2V1Tv0JmV_45atDCKBDBHluBhcZBfvWYP_uuBwado-nVxQhixQsfMTxT3rFF42yjSg0SGS7vFIqRoLzqG91a-AWbycyYgIwUzeZ1hGzYmqMYnlNRWWXkqyzl22-mDjiLQAXn8nflLelHVh5TqbMh5TK_RB816IvQUPNQbz553RGDiKgWJWozojC5x5cTxl=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k4/1w/1wgp5zjo4t9re7znt61avmilo3h1uqnp5-uhi19505656/0?width=179&amp;height=119&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                          </tr>
                        </tbody></table>


                                        </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="left" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightInfoTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>



                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F296103927690%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F296103927690%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-users&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNEAZa0Q5MY2ZXDizL1PwM1KRiILJA">
                                  <img alt="Heiko Lo" width="24" height="24" border="0" src="https://ci3.googleusercontent.com/proxy/T8qGBCSDh9QWXvEzH3e4yuxPn5hlNNEYsvjeZ0qL5hyW-8beQslcuG0yAF_EQHIXglmz9PdJ3JiNKSxJDx6L-qvmGGyhfiwMOY9qajN75g3NNQjU_xqUXnS3o3wU62usoocuJYHzRZWBA1QOUyrJP3WMpdEW7LmCTgGv6cUg5bTy8yTBT9g-89bJcbpbn4g6ce4j5DNyL7xNHA=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/yz/yzmzfsh9k8lbepbrta9bprt1rqawxge9315563-full/1717f1d3fe2?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>




                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F1476165396874%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F1476165396874%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-users&amp;source=gmail&amp;ust=1598767839066000&amp;usg=AFQjCNFwt5jsol7_Dpt1WtvlGc4lF38Qjw">
                                  <img alt="Vinci Dia" width="24" height="24" border="0" src="https://ci4.googleusercontent.com/proxy/RcvtwIhjiExfciAk1L8FjEWk9HVb8QREdp3NDz8y2cVLSYDKF4LlED6vhoSQiZi61aAgWQKmwM-cUye-GqlWpnbtFy2jKIz3beXlqomjZJLBBBV4mnbC2DXgcPUgaPM78IvVslkNwPfmm5aH-KNI3bqV_WKw2p4HSoy8EOBnvNjjzALyYy7P5MwTTneuOYIQyczgGM2mWJDe48MvCl2EV65DssE=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/1u/1ud9h0y831jscfj0fplmnfwn73glviunk-u1476165396874-full/173bdf43c64?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>




                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F1502063463434%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F1502063463434%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-users&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNH4T70p4gaP4Wfn30nXXKyNaX885A">
                                  <img alt="Bruno" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/MiCH4kti99EtB10pDtLXlBpDfP1LP0k7iQPnIOkMKSsxdvIwZz-Y-uDCoWe4Zx56gKAnK9YYRmXajCSCBWpU919ocg701JlA8GYmGCZH1obJDFO9bd5NZAWZjZYsbYROOAaemPVsP8v2__Afk6CqxDsckcNkk9ndDHAhIa3N0QBcO1vXEMSc4OGGmu-1Ce-PegZwUsAL12P1W4IS9RdJVb4McUk=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/kb/kbo4dlli1ruv1f0a23b7frjhk3gz1japz-u1502063463434-full/173ed685a75?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>





                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-4-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-4-users&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNEbk0f4Qf9sUGFopd7JvDOaLd2rjA">
                                <img alt="more" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/jVkUl7h_irOK5OR2VzBK9ekRnJh9D9_ct4WMzz2_PLh7sIh3X-5fzfvpGnKjax6VJUSL8ZtM9yRlMdnH5bYso1-yW3fAhX9fh7NZ69ATK7xrdI8erEheQ6uYai_PmFQ=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-more.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>









                            <td width="10" style="border-collapse:collapse"></td>
                            <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">

                Recommended by <a style="color:#1086e8;text-decoration:none;color:#7e8075;text-decoration:none;font-weight:normal" href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-users" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-users&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNEF5fA70vEjBF-6n-pV29CVeMSV0g">6 People</a>

                            </td>
                            <td style="border-collapse:collapse">&nbsp;</td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="left" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightActionTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f7f7f7;width:100%!important">
                          <tbody><tr>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="24" height="48" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-details-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-details-btn&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNHbTSpK9Ll1w33zvP15geUvxghmOQ">
                                <img alt="View Details" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/PkLMUkmFtn87u6FOpiLD4PjBIRRPJowNvsMinyWFXBykH1puqQOUQ_W9PAsKY-tXbqNHSHe80cQ4kwjO2-aEuafadD1hfaRMlLKl1ynyBTc-dMWNMu3eeVPdC73W_Mo=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-view.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd">
                              </a>
                            </td>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="90" id="m_-6250301730754978611mobilereducewidth" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-details-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-details-btn&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNHbTSpK9Ll1w33zvP15geUvxghmOQ"><span>View&nbsp;</span>Details</a>
                            </td>
                            <td width="30" style="border-collapse:collapse"></td>
                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Faction%3Dbookmark%26utm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-save-btn" valign="middle" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Faction%253Dbookmark%2526utm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-save-btn&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNHGEVfM5Lno4cE8QVT5JO0kBrhmVg">
                                <img alt="Bookmark" width="24" height="24" border="0" src="https://ci3.googleusercontent.com/proxy/KnZxMB_LOJJhV8Q2XqdSHhvim8EdpxqKmcFpWk_HltdN7-ZweeKUrSt4bbqQIOcHgD7LNlTNDxzzHICKUAhIB8qWppDIzAsi6WhSp4U0BZxi6Hq02YjarnEC28z5vpI=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-save.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="105" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1016353%3Faction%3Dbookmark%26utm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-2-save-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1016353%253Faction%253Dbookmark%2526utm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-2-save-btn&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNHGEVfM5Lno4cE8QVT5JO0kBrhmVg">Save<span>&nbsp;for&nbsp;Later</span></a>
                            </td>
                            <td style="border-collapse:collapse">&nbsp;</td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="30" style="border-collapse:collapse"></td>
                    </tr>
                  </tbody></table>



                  <table id="m_-6250301730754978611HighlightTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff">
                    <tbody><tr>
                      <td colspan="3" height="30" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="center" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightTitleTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>
                            <td rowspan="2" width="36" align="left" valign="top" style="border-collapse:collapse">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-sport" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-sport&amp;source=gmail&amp;ust=1598767839067000&amp;usg=AFQjCNEtF4BTVW4OWY3XNnascHtVpRySlQ">
                                <img alt="Hiking Highlight" width="36" height="36" border="0" src="https://ci3.googleusercontent.com/proxy/h4eAOLIQzP0oUfwN8rjEfAc0DkDgL9VItGcf89aRAvDg_vTULHcw3WO3rVbPItwZcorE3Jm3s6qSFV2KmP3aV4qNbVd3mcqT3OVGHOJiZdwXpb-7ffCzYo02dOV5PQ=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/sport-hike.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td rowspan="2" width="15" style="border-collapse:collapse;background-color:#ffffff"></td>
                            <td align="left" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:24px;line-height:29px;font-weight:bold;color:#383838;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-title" style="color:#1086e8;text-decoration:none;color:#383838" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-title&amp;source=gmail&amp;ust=1598767839068000&amp;usg=AFQjCNFAyEDiZlunhj687SomE8H1B79FjA">
                                Lac Vert
                                                        </a>
                            </td>
                          </tr>
                          <tr>
                            <td align="left" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-subtitle" style="color:#1086e8;text-decoration:none;color:#70706b" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-subtitle&amp;source=gmail&amp;ust=1598767839068000&amp;usg=AFQjCNHJV8Zb61MH2DM0OL0p4Y19qed7qQ">
                                Hiking Highlight
                                                        </a>
                            </td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="10" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="center" valign="middle" style="border-collapse:collapse">


                        <table id="m_-6250301730754978611HighlightImageTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>
                            <td rowspan="2" width="67%" valign="middle" align="right" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-img&amp;source=gmail&amp;ust=1598767839068000&amp;usg=AFQjCNGOoDZjdO6n53AlvVRAY2V5hb_I0w">
                                <img style="outline:none;text-decoration:none;border:none;display:block" alt="Lac Vert" width="359" height="239" border="0" src="https://ci6.googleusercontent.com/proxy/yP1xV53n6UP7vUacxEyV_a9Ekv2kFBy9JBgd4wo0caBFfz5L1z-0bW9Fo7kn6luaXcb8-56ePxOdoGPD20B9F05A5sGw6ltQZ09OinKrtav3uPdSAByeMsbwn1cXNF8Zqb2mSuszvLuMaKhbzzm_TCIXkj9u2SD9Z8mgDaflQ_S-LLqVJWCZIdSoOTDDdlQc1Ucs3U-hd0jZHnFV=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k4/o8/o82ujyfxim2n1esnf4rmfdjgs3ftqnrqr-uhi17067595/0?width=359&amp;height=239&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                            <td valign="top" width="33%" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-img&amp;source=gmail&amp;ust=1598767839068000&amp;usg=AFQjCNGOoDZjdO6n53AlvVRAY2V5hb_I0w">
                                <img style="outline:none;text-decoration:none;border:none;display:block;margin-left:1px;margin-bottom:1px" alt="Lac Vert" width="179" height="119" border="0" src="https://ci3.googleusercontent.com/proxy/1IXN1g2l4vJYyObVWMv6ANIK_9Y0vKETYie-iAbDVzxpPFDQTQkr8fCw7irZBPDW7C_GTCsigBtiUFth20gAe1az3ykRObpUZQ5sg1suStERtRwBIBh3LEl3p5FDtlWGTg5t0jebc-c9zwIxy0XSWwbEZsWxFwU6BKbF5aCer_dLEuI0gpYXXsHBo9psDeWmxbkOTwR7Zo-9Fqo=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k4/ic/icbki5npbxasx96b7vfsun3n3fzarmre-uhi17397204/0?width=179&amp;height=119&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                          </tr>
                          <tr>
                            <td valign="bottom" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-img" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-img&amp;source=gmail&amp;ust=1598767839068000&amp;usg=AFQjCNGOoDZjdO6n53AlvVRAY2V5hb_I0w">
                                <img style="outline:none;text-decoration:none;border:none;display:block;margin-left:1px" alt="Lac Vert" width="179" height="119" border="0" src="https://ci6.googleusercontent.com/proxy/fvsjWvNOHFA2NKOXWl5fZWTTxoF1LyOuEW7Fxo5l43x2XQiJE8xixxzXuePGeO-L_qz6jZpaFIOXr95HIOrXTxaTgAsU2GLD8oGuJRs8jskMbWBq_9FIQwlSvxDN_qBbld7IY3U-T6KflLxcfOp4KsvMUxXT9ryPGHj1WrBq-LQRwIjTNmJoJNXkeG0pnyCfZ_sZJf-kSPA2QeU=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/000/1k4/cg/cgqte3ymk7gljcag91qe1sg93fzarsya-uhi17397211/0?width=179&amp;height=119&amp;crop=true&amp;q=70" class="CToWUd"></a>
                            </td>
                          </tr>
                        </tbody></table>


                                        </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="left" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightInfoTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;width:100%!important">
                          <tbody><tr>



                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F465782407990%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F465782407990%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-users&amp;source=gmail&amp;ust=1598767839068000&amp;usg=AFQjCNGWUSFZTc5k0uCAQAtpqMd_NzYQAg">
                                  <img alt="Michael" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/nhI5PGDl5_57qYUoi5Un7lu-0huqDoJZr4orWuBc_nBiCxTMYyNXzwKtK2uX38zbfNTpGRysuDfKa_DP0poFkuBwYZTzCYuJYTJcarbFC3ulfAHRVob28JEHEEhxHc1b4q6J3ePN5mePXqcYLA1dVmUTN75wEXU_wvgxy6r87xLglXj9M_snOGa1Sf2aw6ei_f8=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/19/19n0in4lh8uh3b957l05c3hk827t8189d17112096-full/0?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>




                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F985121400897%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F985121400897%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-users&amp;source=gmail&amp;ust=1598767839069000&amp;usg=AFQjCNGMcGL3R12Kd4qsCipG6H7mjw0VmQ">
                                  <img alt="Skip" width="24" height="24" border="0" src="https://ci4.googleusercontent.com/proxy/Nz1lCSHfInn-YVd8N_pX0CJmCyu8U1lddaR0kE8XAiCJeSbIqcp3hB_qmKoX-CU74GTZS7jSTlnRAaiHDR4SD7NvFDhIwJVO-ES5j5yFttYSoAW03tbyY1IAH32ztbt6wMGSnCYSN8xiQlKD44zsWuGRJbYjXaOSfhIc7jPfBs6nqa_-keX3_yXRrCsJmq8F06NOxkQ87gJDxbJ1c0BCUfA5=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/vp/vpzcixy3obzsvw6sess440t73dpxj646-u985121400897-full/17247570603?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>




                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fuser%2F1513230871647%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fuser%252F1513230871647%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-users&amp;source=gmail&amp;ust=1598767839069000&amp;usg=AFQjCNHOYnuc-q-2epdJqS-2CZ02iJPZKQ">
                                  <img alt="Ludovic" width="24" height="24" border="0" src="https://ci3.googleusercontent.com/proxy/NudG2Oe5fyAX6caWavMu1kdJER1YvkFK5VSDruZmDc82DtKrglXBMCPda0UzP7MPRTDmflxRs7WfRvdxaNdNjwa1sNYMO2AiGaLnPZlE6rcUMgbTsXxnADRWKLh38yHHu6UK_9hgaAJX2cOxlh-AnMpcTXkjQXcCumrbMy3GdAbl7AFrtmWvzRTjDVq1J7itDl687uZDKFagU7We9_qdrcd43VU=s0-d-e1-ft#https://d2exd72xrrp1s7.cloudfront.net/www/1s/1sdi9nayowli26yhbqhatrh5v3h3oko73-u1513230871647-full/173fe215be5?width=48&amp;height=48&amp;crop=true&amp;q=70" style="outline:none;text-decoration:none;border:none;display:block;border-radius:24px" class="CToWUd">
                                </a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>





                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-4-users" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-4-users&amp;source=gmail&amp;ust=1598767839069000&amp;usg=AFQjCNE2laNhlAOApfBDURIsLS7q8WQpaQ">
                                <img alt="more" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/jVkUl7h_irOK5OR2VzBK9ekRnJh9D9_ct4WMzz2_PLh7sIh3X-5fzfvpGnKjax6VJUSL8ZtM9yRlMdnH5bYso1-yW3fAhX9fh7NZ69ATK7xrdI8erEheQ6uYai_PmFQ=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-more.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td width="6" style="border-collapse:collapse"></td>



                            <td width="10" style="border-collapse:collapse"></td>
                            <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">

                Recommended by <a style="color:#1086e8;text-decoration:none;color:#7e8075;text-decoration:none;font-weight:normal" href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-users" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-users&amp;source=gmail&amp;ust=1598767839069000&amp;usg=AFQjCNEvdjqGrUdhO2CwGLcJ7XA4AgIlJg">4 People</a>

                            </td>
                            <td style="border-collapse:collapse">&nbsp;</td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td width="20" style="border-collapse:collapse"></td>
                      <td align="left" valign="middle" style="border-collapse:collapse">
                        <table id="m_-6250301730754978611HighlightActionTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f7f7f7;width:100%!important">
                          <tbody><tr>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="24" height="48" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-details-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-details-btn&amp;source=gmail&amp;ust=1598767839069000&amp;usg=AFQjCNEQ_tORFIKX1oUE-FoArnj5JrLfRw">
                                <img alt="View Details" width="24" height="24" border="0" src="https://ci6.googleusercontent.com/proxy/PkLMUkmFtn87u6FOpiLD4PjBIRRPJowNvsMinyWFXBykH1puqQOUQ_W9PAsKY-tXbqNHSHe80cQ4kwjO2-aEuafadD1hfaRMlLKl1ynyBTc-dMWNMu3eeVPdC73W_Mo=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-view.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd">
                              </a>
                            </td>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="90" id="m_-6250301730754978611mobilereducewidth" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-details-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-details-btn&amp;source=gmail&amp;ust=1598767839069000&amp;usg=AFQjCNEQ_tORFIKX1oUE-FoArnj5JrLfRw"><span>View&nbsp;</span>Details</a>
                            </td>
                            <td width="30" style="border-collapse:collapse"></td>
                            <td width="24" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Faction%3Dbookmark%26utm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-save-btn" valign="middle" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Faction%253Dbookmark%2526utm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-save-btn&amp;source=gmail&amp;ust=1598767839070000&amp;usg=AFQjCNGhhVWOWFzVxKbc7kuB9oRVNV9_RA">
                                <img alt="Bookmark" width="24" height="24" border="0" src="https://ci3.googleusercontent.com/proxy/KnZxMB_LOJJhV8Q2XqdSHhvim8EdpxqKmcFpWk_HltdN7-ZweeKUrSt4bbqQIOcHgD7LNlTNDxzzHICKUAhIB8qWppDIzAsi6WhSp4U0BZxi6Hq02YjarnEC28z5vpI=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/weekly-hl-v2/action-save.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                            </td>
                            <td width="10" style="border-collapse:collapse"></td>
                            <td width="105" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:19px;font-weight:normal;color:#70706b;text-align:left">
                              <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%2Fhighlight%2F1816395%3Faction%3Dbookmark%26utm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dhl-3-save-btn" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%252Fhighlight%252F1816395%253Faction%253Dbookmark%2526utm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dhl-3-save-btn&amp;source=gmail&amp;ust=1598767839070000&amp;usg=AFQjCNGhhVWOWFzVxKbc7kuB9oRVNV9_RA">Save<span>&nbsp;for&nbsp;Later</span></a>
                            </td>
                            <td style="border-collapse:collapse">&nbsp;</td>
                          </tr>
                        </tbody></table>

                      </td>
                      <td width="20" style="border-collapse:collapse"></td>
                    </tr>
                    <tr>
                      <td colspan="3" height="30" style="border-collapse:collapse"></td>
                    </tr>
                  </tbody></table>



                  <table id="m_-6250301730754978611CloserSectionTable" border="0" cellspacing="0" cellpadding="0" bgcolor="#42683D" width="100%" style="border-collapse:collapse;background-color:#42683d;width:100%!important">
                      <tbody><tr><td colspan="3" bgcolor="#42683D" height="30" style="border-collapse:collapse"></td></tr>
                      <tr>
                        <td bgcolor="#42683D" width="30" style="border-collapse:collapse"></td>
                        <td align="center" valign="top" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.4;font-weight:bold;color:#ffffff;text-align:center;background-color:#42683d">
                          Got a question? <span style="font-weight:normal">Thats what were <a href="mailto:support@komoot.com" style="color:white" target="_blank">here for</a>!</span>
                        </td>
                        <td bgcolor="#42683D" width="30" style="border-collapse:collapse"></td>
                      </tr>
                      <tr><td colspan="3" bgcolor="#42683D" height="30" style="border-collapse:collapse"></td></tr>
                  </tbody></table>



                </td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611FooterSpacerTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2">
              <tbody><tr>
                <td height="60" style="border-collapse:collapse"></td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611AppBadgeTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2;width:100%!important">
              <tbody><tr>
                <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:normal;text-decoration:none;text-align:center">&nbsp;</td>
                <td width="148" align="center" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:normal;text-decoration:none;text-align:center">
                  <a href="https://itunes.apple.com/app/apple-store/id447374873?pt=347652&amp;ct=weekly_hl_mail&amp;mt=8" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://itunes.apple.com/app/apple-store/id447374873?pt%3D347652%26ct%3Dweekly_hl_mail%26mt%3D8&amp;source=gmail&amp;ust=1598767839070000&amp;usg=AFQjCNHVseYHVWLRZDne5WbHc7GbBP46xQ">
                    <img alt="App Store" border="0" width="148" height="44" src="https://ci5.googleusercontent.com/proxy/lzwpPXSaBHMh889Me1SlYIYg_SoR51K5fjpMswZkcsP7-SOskrDISupHHaKAwUn0z_wHkHD8pfjQV4jqFVN1CqFBuS8ZyBHZOvf4Rz8P5pWNWAY97AxYQTaxLcZaaxbCVd8YMj0=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/appstore/appstore-iphone-en@2x.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                </td>
                <td width="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:normal;text-decoration:none;text-align:center"></td>
                <td width="148" align="center" valign="middle" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:normal;text-decoration:none;text-align:center">
                  <a href="https://play.google.com/store/apps/details?id=de.komoot.android&amp;referrer=utm_source%3D-1%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl" style="color:#1086e8;text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dde.komoot.android%26referrer%3Dutm_source%253D-1%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl&amp;source=gmail&amp;ust=1598767839070000&amp;usg=AFQjCNE_2NhlmaM0d8EPE5LXBteE9Jch_g">
                    <img alt="Play Store" border="0" width="148" height="44" src="https://ci5.googleusercontent.com/proxy/gNqI2Kk5CvdCHPuOfKGg1bUb7z0OxGnAoAxprV3Pc3Mmj48UpLcZ6CG-kafhNT__WpOMt1hMi3KWprYrGSkN2vEvGcX2VkZHiYMqd1MImnpXX7hhvMJdC3E9QD-476UpSAVKYceB=s0-d-e1-ft#https://s3.amazonaws.com/static.komoot.de/email/appstore/appstore-android-en@2x.png" style="outline:none;text-decoration:none;border:none;display:block" class="CToWUd"></a>
                </td>
                <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:20px;line-height:1.2;font-weight:normal;text-decoration:none;text-align:center">&nbsp;</td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611FooterSpacerTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2">
              <tbody><tr>
                <td height="40" style="border-collapse:collapse"></td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611FooterTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2">
              <tbody><tr>
                <td colspan="3" height="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center"></td>
              </tr>
              <tr>
                <td width="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center"></td>
                <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center">
                  <div>
                    <span>komoot GmbH</span>  <span><span>Friedrich-Wilhelm-Boelcke-<wbr>Strae 2</span>  <span>14473</span> <span>Potsdam</span><br>
                      <a href="https://api.komoot.de/v007/mail/c/?u=878354638616&amp;d=651&amp;r=https%3A%2F%2Fwww.komoot.com%3Futm_source%3Dweekly-hl-651%26utm_medium%3Demail%26utm_campaign%3Dweekly-hl%26utm_content%3Dfooter-komoot" style="color:#1086e8;text-decoration:none;color:#999999;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://api.komoot.de/v007/mail/c/?u%3D878354638616%26d%3D651%26r%3Dhttps%253A%252F%252Fwww.komoot.com%253Futm_source%253Dweekly-hl-651%2526utm_medium%253Demail%2526utm_campaign%253Dweekly-hl%2526utm_content%253Dfooter-komoot&amp;source=gmail&amp;ust=1598767839070000&amp;usg=AFQjCNFLa0uelOmN7YIZMmmJS-rHFVMz9Q">www.komoot.com</a>  <a href="mailto:help@komoot.de" style="color:#1086e8;text-decoration:none;color:#999999;text-decoration:underline" target="_blank">help@komoot.de</a></span>
                  </div>
                </td>
                <td width="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center"></td>
              </tr>
              <tr>
                <td colspan="3" height="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center"></td>
              </tr>
              <tr>
                <td width="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center"></td>
                <td style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center">
                  Sent with  from komoot
                                <br>
                  <a href="https://www.komoot.de/account/unsubscribe/no/5-ngFYryCSESiGiEPrc0k37u6oFjYACCNrZdDGwv9pQm5-UzZGSmZ-QAcUl8bmJmDoOZqSEDAA" style="color:#1086e8;text-decoration:none;color:#999999;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.komoot.de/account/unsubscribe/no/5-ngFYryCSESiGiEPrc0k37u6oFjYACCNrZdDGwv9pQm5-UzZGSmZ-QAcUl8bmJmDoOZqSEDAA&amp;source=gmail&amp;ust=1598767839070000&amp;usg=AFQjCNFFi_8DR46DihxAkX5IRzJhrONSJQ">Unsubscribe</a> from tips for Highlights in my region
                            </td>
                <td width="20" style="border-collapse:collapse;font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:1.2;font-weight:normal;color:#999999;text-align:center"></td>
              </tr>
            </tbody></table>

            <table id="m_-6250301730754978611FooterSpacerTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse;background-color:#ffffff;background-color:#f2f2f2">
              <tbody><tr>
                <td height="60" style="border-collapse:collapse"></td>
              </tr>
            </tbody></table>

          </td>
        </tr>
      </tbody></table>

    </td>
