 <%= render 'shared/hero' %>
 <%# <%= render 'shared/modal' %> %>
 <%= render 'shared/flashes' %>

<div class="container">
  <div class="pt-12 bg-white">
    <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="lg:text-center">
        <p class="text-base leading-6 text-red-c font-semibold tracking-wide uppercase">Library</p>
        <h3 class="mt-2 mb-6 text-3xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
          Browse for videos at your language level
        </h3>
        <div class="bg-white">
          <div class="bg-white container mx-auto w-4/12 pb-4">
            <div class="mt-1 flex rounded-md shadow-sm">
              <div class="relative border-gray-300 border flex-grow rounded focus-within:z-10">
                <input id="email" class="form-input block w-full h-full rounded-none rounded-l-md pl-2 transition ease-in-out duration-150 sm:text-sm sm:leading-5" placeholder="Search">
              </div>
              <button class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-r-md text-gray-700 bg-gray-50 hover:text-gray-500 hover:bg-white focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                <span class="">Search</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="bg-white">
 <%= render 'shared/list' %>
</div>




<div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
  <div x-show="open" x-description="Background overlay, show/hide based on modal state." x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 transition-opacity">
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  </div>
  <!-- This element is to trick the browser into centering the modal contents. -->
  <span class="hidden sm:inline-block sm:align-middle sm:h-screen"></span>​
  <div x-show="open" x-description="Modal panel, show/hide based on modal state." x-transition:enter="ease-out duration-300" x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100" x-transition:leave="ease-in duration-200" x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100" x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95" class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full sm:p-6" role="dialog" aria-modal="true" aria-labelledby="modal-headline">
    <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
      <button @click="open = false; setTimeout(() => open = true, 1000)" type="button" class="text-gray-400 hover:text-gray-500 focus:outline-none focus:text-gray-500 transition ease-in-out duration-150" aria-label="Close">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </div>
</div>

