 <%= render 'shared/hero' %>
 <%= render 'shared/list_of_videos' %>
 <%= render 'shared/flashes' %>
<a href="#myModal" class="pl-4 btn btn-lg btn-primary underline text-red-c" data-toggle="modal">Search on Youtube</a>
<a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">Launch Demo Modal</a>
