<%= render  "shared/searchbar" %>

<div class="text-center text-5xl">How does it work?</div>

<img class="content-center ml-64 w-6/12" src="https://media.giphy.com/media/A91s3852tsz6g/giphy.gif">

<div class="slideshow-container">
